@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* To keep confetti within the viewport */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

#candles {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.candle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: var(--candle-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: flicker 1s infinite;
}

.candle:before {
    content: '';
    width: 6px;
    height: 10px;
    background-color: #e6eb4f;
    border-radius: 50% 50% 0 0;
    margin-top: -10px;
    animation: flickerFlame 0.2s infinite alternate;
}

.candle:after {
    content: '';
    width: 6px;
    height: 20px;
    background-color: var(--candle-color);
    position: absolute;
    bottom: -20px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

@keyframes flicker {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-3px); }
    100% { transform: translateY(0px); }
}

@keyframes flickerFlame {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Amiri', serif;
    font-size: 36px; /* Adjusted font size */
    font-weight: bold;
    color: #ba2d2d;
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1; /* Behind other elements */
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    opacity: 0.8;
    animation: confettiFall 5s linear infinite;
}

@keyframes confettiFall {
    0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.3;
    }
}
